.App {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #ccc;
  border: unset;
  border-radius: 5px;
}
.btn--danger {
  background: red;
  color: white;
}
