.App {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.header {
  padding: 2rem;
  background: #f2f2f2;
  margin-bottom: 1rem;
}
.nav__link {
  margin: 0 1rem;
}
